@charset "UTF-8";

* {
    font-family: sans-serif;
    box-sizing: border-box;
  }

  h1 {
    font-size: large;
    text-align: center;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=image]:hover {
    transform: scale(2.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  input[type=button], input[type=submit], input[type=reset] {
    font-size: medium;
    background-color: #04AA6D;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  input[type=submit] {
    border: 2px solid #c1c40f;
    padding: 18px 100px;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #c1c40f;
    border: 2px solid #04aa6d;
    color: #000;
  }

  .capa {
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2ee;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 2px;
  }
  
  .col-25v {
    float: left;
    width: 25%;
    margin-top: 6px;
    padding-left: 6px;
    border-left: 2px solid #000;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }